body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    background-color: white;
    margin: 20px;
    width: 80%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 2px solid #004d99;
    text-align: center;
    max-width: 600px;
}

.time h1 {
    color: #004d99;
    margin: 0 0 10px;
}

.time p {
    line-height: 1.6;
    margin: 10px 0;
}

img{
    max-width: 64px;
}